<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @article.project.title, @article.project %>
</p>

<p>
  <strong>Content:</strong>
  <textarea rows="10" class="form-control" readonly><%= JSON.pretty_generate(@article.content) %></textarea>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
