<%= form_with(model: user, local: true, class: 'form') do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.select :status, collection: User.statuses.keys.to_a %>
  </div>

  <div class="form-group">
    <%= form.label :token %>
    <%= form.text_field :token, id: :user_token, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :user_phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :timezone %>
    <%= form.text_field :timezone, id: :user_timezone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ip_address %>
    <%= form.text_field :ip_address, id: :user_ip_address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :project_id %>
    <%= form.text_field :project_id, id: :user_project_id, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit(class: "btn btn-primary") %>
  </div>
<% end %>
