<div class="col-md-6">
	<h2><%= link_to "Projects", url_for(controller: :projects, action: :index) %> (<%= @projects_count %>)</h2>
	<p><%= link_to "New", url_for(controller: :projects, action: :new) %></p>
	<ul>
		<% for project in @projects %>
			<li><%= project.title %></li>
		<% end %>
	</ul>
	<hr />
	<h2><%= link_to "Articles", url_for(controller: :articles, action: :index) %> (<%= @articles_count %>)</h2>
	<p><%= link_to "New", url_for(controller: :articles, action: :new) %></p>
	<ul>
		<% for article in @articles %>
			<li><%= link_to article.title, article %></li>
		<% end %>
	</ul>
</div>
<div class="col-md-6">
	<h2><%= link_to "Users", url_for(controller: :users, action: :index) %> (<%= @users_count %> total, <%= @unsubscribed_count %> unsubscribed)</h2>
	<p><%= link_to "New", url_for(controller: :users, action: :new) %></p>
	<ul>
		<% for user in @users %>
			<li><%= link_to "#{user.token} | #{user.name} #{user.last_name}", user %></li>
		<% end %>
	</ul>
</div>